body {
  background-color: #fbfada;

  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
}

.img {
  filter: drop-shadow(10px 0 2rem #12372a);
  height: 550px;
}
.button-dropshadow {
  filter: drop-shadow(2px 2px 2px #436850);
}

.image-container {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container.fade-in {
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  font-size: 1.25rem;
  margin: 1.25rem 0;
  color: #12372a;
}

#lokacija {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 50px 0;
  background: url("/public/images/pexels-golden-jojo-2409038.jpg") no-repeat
    center center/cover;
  color: #fbfada;
  h1 {
    color: var(--color-secondary);
    padding-bottom: 50px;
  }
  iframe {
    padding-bottom: 50px;
  }
  p {
    margin-bottom: 50px;
    font-size: 15px;
    color: #fbfada;
    /* color: var(--color-secondary); */
    text-align: center;
  }
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-bottom: 0px;
    }
    .social-media-links {
      a {
        display: inline-block;
        align-items: center;
        justify-content: center;
        margin: 10px 30px;
        color: #fbfada;
        transition: all 0.2s ease-in-out;
      }
      a:hover {
        color: white;
        scale: 1.2;
      }
    }
  }
}

.divider {
  padding-bottom: 30px;
  width: 80%;
}

.divider-1 {
  width: 80%;
}

.custom-divider {
  transform: rotate(180deg);
}

.button-menu {
  background-color: red;
  color: red;
}

button {
  font: inherit;
  font-size: 0.85rem;
  background-color: #12372a;
  border: none;
  color: #fbfada;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  /* box-shadow: 10px 5px 5px red; */
}

button:hover,
button.active {
  background-color: #fbfada;
  color: #273133;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
